@media screen and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }

    .header {
        padding: 40px 0 71px;
    }

    .header__flex {
        flex-direction: column;
    }

    .logo {
        font-size: 40px;
        line-height: 47px;
    }

    .header__logo {
        margin-bottom: 21px;
    }

    .menu {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: none;
        transition: none;
    }

    .menu__close {
        display: none;
    }

    .menu__list {
        flex-direction: row;
        align-items: center;
        margin: 0 -21.5px;
    }

    .menu__list > li {
        margin: 0 21.5px;
    }

    .menu__list a {
        font-size: 16px;
        line-height: 19px;
    }

    .menu__list a.active-link {
        font-weight: bold;
    }

    .header__burger {
        display: none;
    }

    .images__flex_mobile {
        display: none;
    }

    .images__flex_768 {
        display: flex;
        margin: 0 -21px;
    }

    .images__flex_768 > div {
        flex: 0 1 50%;
        margin: 0 21px;
    } 

    .images__flex_768 > div > div {
        margin-bottom: 50px;
    }

    .footer {
        padding: 248px 0 43px;
    }
}